.your-bot-army-section {
   position: relative;
   margin-bottom: 20px;
 }
 
 .your-bot-army-title {
   font-size: 24px;
   font-weight: bold;
   color: #333;
   position: sticky;
   top: 0;
   background-color: transparent;
   border: 2px solid rgb(174, 209, 240);
   padding: 1rem;
   z-index: 10;
   text-align: center; 
 }
 
 .your-bot-army-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  height: 400px;  
  overflow-y: auto;
  padding-top: 20px;
  background-image: url(https://img.freepik.com/free-photo/astral-wallpapers-composition-with-asteroids_23-2149687882.jpg?semt=ais_hybrid);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  width: 100%; 
  margin-bottom: 40px;
  border-radius: 8px; 
  border: 2px solid rgba(255, 255, 255, 0.3);
}
 
 